.app {
  background-image: url('./assets/YellowBG.jpg');
  background-size: cover;
  background-position: bottom;
  display: grid;
  transition: 0.4 ease-out;
  text-align: center;
}

.app_body{
min-height: 100vh;
background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.75));
padding: 25px;
text-align: center;
}